<div class="col-md-6">
    <sw-property-display
            data-property="emailSubject"
            data-name="emailSubject"
            data-editing="true"
            data-editable="true">
    </sw-property-display>
</div>
<div class="col-md-6">
    <sw-property-display
            data-property="emailFromName"
            data-name="emailFromName"
            data-editing="true"
            data-editable="true">
    </sw-property-display>
</div>
<div class="col-md-6">
    <sw-property-display
            data-property="emailFromEmail"
            data-name="emailFromEmail"
            data-editing="true"
            data-editable="true">
    </sw-property-display>
</div>
<div class="col-md-6">
    <sw-property-display
            data-property="emailReplyTo"
            data-name="emailReplyTo"
            data-editing="true"
            data-editable="true">
    </sw-property-display>
</div>