<div class="col-md-12">
    <div class="form-group s-radio-content">
        <div class="radio s-vertical">
            <input type="radio" id="broadcast-schedule-new" data-ng-model="emailType" data-ng-init="emailType = '1'" value="1">
            <label for="broadcast-schedule-new">
                Create New Email
            </label>
        </div>
        <div class="row" data-ng-if="emailType == '1'">
            <div class="col-md-12">

                <sw-tab-group>
                    <sw-tab-content data-name="HTML" data-ng-init="emailStyle='1'">

                        <div class="row">
                            <div class="col-md-4 s-wys-nav">

                                <div class="s-select-wrapper s-titled-select-wrapper s-template">
                                    <span>Template:</span>
                                    <select class="form-control input-sm" data-ng-model="emailStyle" name="emailStyle">
                                        <option value="1">Default</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-8 s-wys-nav">

                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-white btn-sm">Preview HTML</button>
                                    <button type="button" class="btn btn-white btn-sm">Preview Text</button>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <sw-property-display
                                        data-property="emailBodyHTML"
                                        data-name="emailBodyHTML"
                                        data-editing="true"
                                        data-editable="true">
                                </sw-property-display>
                            </div>
                        </div>
                    </sw-tab-content>
                    <sw-tab-content data-name="Plain Text">
                        <div class="col-md-12">
                            <sw-property-display
                                    data-property="emailBodyText"
                                    data-name="emailBodyText"
                                    data-editing="true"
                                    data-editable="true">
                            </sw-property-display>
                        </div>
                    </sw-tab-content>
                </sw-tab-group>
            </div>
        </div>
    </div>

    <span class="form-group s-radio-content">
        <div class="radio s-vertical">
            <input type="radio" id="broadcast-schedule-copy" data-ng-model="emailType" value="0">
            <label for="broadcast-schedule-copy">
                Copy Email From Existing Mailings
            </label>
        </div>
        <span class="row" data-ng-if="emailType == '0'">
            <div class="col-md-12" data-ng-show="!swCampaignWizard.emailCopied">
                <sw-listing-display
                        data-name="previousEmail"
                        data-collection="'CampaignActivity'"
                        data-multiselect-field-name="campaignActivityID"
                        data-multiselect-property-identifier="campaignAcitivityID"
                        data-is-radio="true"
                        data-expandable="false"
                        >
                    <sw-listing-column data-property-identifier="campaignActivityDescription" ></sw-listing-column>
                    <sw-listing-column data-property-identifier="campaignActivityName" ></sw-listing-column>
                </sw-listing-display>
            </div>

            <span data-ng-show="swCampaignWizard.emailCopied">

                <div class="col-md-12">
                    <a href data-ng-click="swCampaignWizard.emailCopied = false" id="remove-this-back-to-emails-btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back To Existing Mails</a>
                </div>
                <div class="col-md-12">
                    <sw-tab-group >
                        <sw-tab-content data-name="HTML" data-ng-init="emailStyle='1'">

                            <div class="row">
                                <div class="col-md-4 s-wys-nav">

                                    <div class="s-select-wrapper s-titled-select-wrapper s-template">
                                        <span>Template:</span>
                                        <select class="form-control input-sm" data-ng-model="emailStyle" name="emailStyle">
                                            <option value="1">Default</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-8 s-wys-nav">

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-white btn-sm">Preview HTML</button>
                                        <button type="button" class="btn btn-white btn-sm">Preview Text</button>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <sw-property-display
                                            data-property="emailBodyHTML"
                                            data-name="emailBodyHTML"
                                            data-editing="true"
                                            data-editable="true">
                                    </sw-property-display>
                                </div>
                            </div>
                        </sw-tab-content>
                        <sw-tab-content data-name="Plain Text">
                            <div class="col-md-12">
                                <sw-property-display
                                        data-property="emailBodyText"
                                        data-name="emailBodyText"
                                        data-editing="true"
                                        data-editable="true">
                                </sw-property-display>
                            </div>
                        </sw-tab-content>
                    </sw-tab-group>
                </div>
            </span>
        </span>
    </span>
</div>