<div class="col-sm-6" data-ng-init="scheduleOpt = '0'">
    <div class="form-group s-radio-content">
        <div class="radio s-vertical">
            <input type="radio" id="j-immediately" data-ng-model="scheduleOpt" value="0">
            <label for="j-immediately">
                Send Immediately
            </label>
        </div>
    </div>
    <div class="form-group s-radio-content">
        <div class="radio s-vertical">
            <input type="radio"  id="j-schedule-date" data-ng-model="scheduleOpt" value="1">
            <label for="j-schedule-date">
                Schedule on Specific Date &amp; Time
            </label>
        </div>
        <div class="row" data-ng-if="scheduleOpt == '1'">
            <div class="col-md-4">
                <sw-property-display
                        data-property="emailSendDateTime"
                        data-name="emailSendDateTime"
                        data-editing="true"
                        data-editable="true">
                </sw-property-display>
            </div>
        </div>
    </div>
    <div class="form-group s-radio-content">
        <div class="radio s-vertical">
            <input type="radio" id="j-ongoing" data-ng-model="scheduleOpt" value="2">
            <label for="j-ongoing">
                Ongoing / Recurring Send
            </label>
        </div>
        <div class="row" data-ng-if="scheduleOpt == '2'">
            <sw-schedule></sw-schedule>
        </div>
        <button type="button" class="btn btn-large btn-block btn-success" data-ng-click="swCampaignWizard.scheduleEmail(scheduleOpt)">Schedule &amp; Send</button>
    </div>

</div>
<div class="col-sm-4 pull-right">
    <div class="well">
        <div class="form-group">
            <label>Send Test Email</label>
            <input type="email" class="form-control" placeholder="email" name="testEmail" data-ng-model="testEmail">
        </div>
        <button type="button" class="btn btn-large btn-block btn-dgrey" data-ng-click="swCampaignWizard.sendTestEmail()">Send Test Email</button>
    </div>
</div>