<content class="s-body-box" >
    <div data-ng-class="{'s-tab-table' : swTabGroup.showTabs}">
        <div class="row s-tabs" data-ng-if="swTabGroup.showTabs">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" data-ng-class="{'active':tab.active}" data-ng-repeat="tab in swTabGroup.tabs track by $index">
                    <a data-ng-click="swTabGroup.switchTab(tab)" role="tab" data-toggle="tab" aria-controls="{{tab.name}}" aria-expanded="true"><span data-ng-bind="tab.name"></span><span data-ng-if="tab.count"> ({{tab.count}})</span></a>
                </li>
            </ul>
        </div>
        <div class="tab-content">

            <!-- Tab Content Here -->
            <ng-transclude></ng-transclude>
        </div>
    </div>
</content>