<div class="table-responsive s-system-table">
    <table class="table">

        <thead>
        <tr>
            <th colspan="3">
                Today, July 14, 2016
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                01:23 PM - Reinaldo Solares
            </td>
            <td>Updated Brunswick Strike King Blue/Red Pearl Bowling Ball, Bowling Bag, and Dexter Shoe Package <br/>Changed: Hide Price Until Cart, </td>
        </tr>
        <tr>
            <td>
                01:01 PM - Reinaldo Solares
            </td>
            <td>Updated Brunswick Strike King Blue/Red Pearl Bowling Ball, Bowling Bag, and Dexter Shoe Package <br/>Changed: Hide Price Until Cart, </td>
        </tr>
        <tr>
            <td>
                12:30 PM - Reinaldo Solares
            </td>
            <td>Updated Brunswick Strike King Blue/Red Pearl Bowling Ball, Bowling Bag, and Dexter Shoe Package <br/>Changed: Hide Price Until Cart, </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="3">
                Today, July 13, 2016
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                01:23 PM - Reinaldo Solares
            </td>
            <td>Updated Brunswick Strike King Blue/Red Pearl Bowling Ball, Bowling Bag, and Dexter Shoe Package <br/>Changed: Hide Price Until Cart, </td>
        </tr>
        </tbody>
    </table>
    <div>
        {{swTimeline.auditRecords}}
        <ul class="pagination paginationpages12">
            <li><a href="#" class="paging-show-toggle">Show <span class="details">(1 - 10 of 113)</span></a></li>
            <li><a href="#" class="show-option" data-show="10" style="display: none;">10</a></li>
            <li><a href="#" class="show-option" data-show="25" style="display: none;">25</a></li>
            <li><a href="#" class="show-option" data-show="50" style="display: none;">50</a></li>
            <li><a href="#" class="show-option" data-show="100" style="display: none;">100</a></li>
            <li><a href="#" class="show-option" data-show="500" style="display: none;">500</a></li>
            <li><a href="#" class="show-option" data-show="ALL" style="display: none;">ALL</a></li>
            <li class="disabled"><a href="#" class="page-option prev">«</a></li>
            <li class="active"><a href="#" class="listing-pager page-option" data-page="1">1</a></li>
            <li><a href="#" class="listing-pager page-option" data-page="2">2</a></li>
            <li><a href="#" class="listing-pager page-option" data-page="3">3</a></li>
        </ul>
    </div>
</div>