
<span   ng-repeat='(key, value) in swErrorDisplay.form[swErrorDisplay.propertyIdentifier].$error'
		ng-show="swErrorDisplay.form[swErrorDisplay.propertyIdentifier].$touched &&  !swErrorDisplay.form.$submitted"
>
	<span ng-show="key === 'swvalidationrequired'" class="error help-block" sw-Rbkey="'validation.define.required'"></span>
	<span ng-show="key === 'swvalidationemail'" class="error help-block" sw-Rbkey="'validation.define.emailrequired'"></span>
	<span ng-show="key === 'swvalidationunique'" class="error help-block" sw-Rbkey="'validation.define.unique'"></span>
	<span ng-show="key === 'swvalidationuniqueornull'" class="error help-block" sw-Rbkey="'validation.define.uniqueornull'"></span>
	<span ng-show="key === 'swvalidationnumeric'" class="error help-block" sw-Rbkey="'validation.define.numeric'"></span>
	<span ng-show="key === 'swvalidationregex'" class="error help-block" sw-Rbkey="'validation.define.regex'"></span>
	<span ng-show="key === 'swvalidationgte'" class="error help-block" sw-Rbkey="'validation.define.gte'"></span>
	<span ng-show="key === 'swvalidationlte'" class="error help-block" sw-Rbkey="'validation.define.lte'"></span>
	<span ng-show="key === 'swvalidationeq'" class="error help-block" sw-Rbkey="'validation.define.neq'"></span>
	<span ng-show="key === 'swvalidationminvalue'" class="error help-block">The value entered is incorrect</span>
	<span ng-show="key === 'swvalidatiomaxvalue'" class="error help-block">The value entered is incorrect</span>
	<span ng-show="key === 'swvalidationminlength'" class="error help-block">The value entered is incorrect</span>
	<span ng-show="key === 'swvalidationmaxlength'" class="error help-block">The value entered is incorrect</span>

</span>

<!-- handle errors on the property -->

<div ng-if="!swErrorDisplay.errorClass" class="error" error-for="{{swErrorDisplay.name}}"></div>
<div ng-if="swErrorDisplay.errorClass"  class="{{swErrorDisplay.errorClass}}" error-for="{{swErrorDisplay.name}}"></div>