<span data-ng-switch="swCampaignActivityStatus.status">


    <div class="s-status-bar s-sent" data-ng-switch-when="ongoing">
        <div class="row-height">

            <div class="col-md-3 s-icon col-sm-height">
                <div class="inside inside-full-height">
                    <div class="s-status">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="nc-icon glyph" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 48 48">
                            <g>
                                <path fill="#39c13a" d="M24,1C11.3,1,1,11.3,1,24s10.3,23,23,23s23-10.3,23-23S36.7,1,24,1z M36.7,16.7l-16,16  C20.5,32.9,20.3,33,20,33s-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l15.3-15.3c0.4-0.4,1-0.4,1.4,0  S37.1,16.3,36.7,16.7z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-height col-sm-top s-info">
                <div class="inside inside-full-height">
                    <div class="s-title">Ongoing</div>
                    <div class="s-date s-date-range">
                        <div><span class="s-strong">Start:</span> June 27, 2016 </div>
                        <div><span class="s-strong">End:</span> August 2, 2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="s-status-bar s-ready" data-ng-switch-when="ready">

        <div class="row-height">
            <div class="col-md-3 s-icon col-sm-height">
                <div class="inside inside-full-height">
                    <div class="s-status">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="nc-icon glyph" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 48 48">
                            <g>
                                <path fill="#428bca" d="M24,1C11.318,1,1,11.318,1,24s10.318,23,23,23s23-10.318,23-23S36.682,1,24,1z M23,14c0-0.552,0.448-1,1-1  s1,0.448,1,1v13c0,0.552-0.448,1-1,1s-1-0.448-1-1V14z M24,35c-1.105,0-2-0.895-2-2s0.895-2,2-2c1.105,0,2,0.895,2,2  S25.105,35,24,35z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-height col-sm-top s-info">
                <div class="inside inside-full-height">
                    <div class="s-title">Ready To Send</div>
                    <div class="s-date">--</div>
                </div>
            </div>
        </div>
    </div>


    <div class="s-status-bar" data-ng-switch-when="pending">

        <div class="row-height">
            <div class="col-md-3 s-icon col-sm-height">
                <div class="inside inside-full-height">
                    <div class="s-status">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="nc-icon glyph" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 48 48">
                            <g>
                                <path fill="#ffc107" d="M24,1C11.318,1,1,11.318,1,24s10.318,23,23,23s23-10.318,23-23S36.682,1,24,1z M23,14c0-0.552,0.448-1,1-1  s1,0.448,1,1v13c0,0.552-0.448,1-1,1s-1-0.448-1-1V14z M24,35c-1.105,0-2-0.895-2-2s0.895-2,2-2c1.105,0,2,0.895,2,2  S25.105,35,24,35z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-height col-sm-top s-info">
                <div class="inside inside-full-height">
                    <div class="s-title">Pending</div>
                    <div class="s-date">--</div>
                </div>
            </div>
        </div>
    </div>


    <div class="s-status-bar s-sent" data-ng-switch-when="sent">
        <div class="row-height">
            <div class="col-md-3 s-icon col-sm-height">
                <div class="inside inside-full-height">
                    <div class="s-status">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="nc-icon glyph" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 48 48">
                            <g>
                                <path fill="#39c13a" d="M24,1C11.3,1,1,11.3,1,24s10.3,23,23,23s23-10.3,23-23S36.7,1,24,1z M36.7,16.7l-16,16  C20.5,32.9,20.3,33,20,33s-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l15.3-15.3c0.4-0.4,1-0.4,1.4,0  S37.1,16.3,36.7,16.7z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-height col-sm-top s-info">
                <div class="inside inside-full-height">
                    <div class="s-title">Sent</div>
                    <div class="s-date">June 27, 2016</div>
                </div>
            </div>
        </div>
    </div>

</span>