<div class="s-loader-wrapper" data-ng-show="swCampaign.saving">
    <div class="s-animated-loader"></div>
</div>
<div class="s-slide-panel-content">
    <sw-form data-object="swCampaign.campaignObject">
        <sw-property-display
                data-property="campaignName"
                data-editing="swCampaign.editing"
                data-editable="true">
        </sw-property-display>
        <sw-property-display
                data-property="campaignDescription"
                data-editing="swCampaign.editing"
                data-editable="true">
        </sw-property-display>
    </sw-form>
</div>