<div class="row s-body-nav">
    <nav class="navbar navbar-default s-vcenter" role="navigation">
        <div class="col-md-6 s-header-info">

            <h1 class="actionbar-title" data-sw-rbkey="'entity.campaign'"></h1>
            <ul class="list-unstyled list-inline">
                <li><a href="">{{swCampaign.campaignObject.campaignName}}</a></li>
            </ul>
        </div>
        <div class="col-md-6" data-ng-cloak>
            <div class="btn-toolbar">
                <sw-modal-launcher
                    data-modal-name="info"
                    data-title="Activity Info"
                    data-modal-size="sm"
                    >
                    <sw-modal-button>
                        <button class="btn btn-default s-slide-btn"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    </sw-modal-button>
                    <sw-modal-header>
                        <button class="btn btn-success pull-right" data-ng-if="swCampaign.editing" data-ng-click="swCampaign.saveCampaign()" data-ng-disabled="swCampaign.saving">
                            Save
                        </button>
                        <button class="btn btn-primary pull-right" data-ng-if="!swCampaign.editing" data-ng-click="swCampaign.editing = true">
                            Edit
                        </button>
                    </sw-modal-header>
                    <sw-modal-content>
                        <div class="s-loader-wrapper" data-ng-show="swCampaign.saving">
                            <div class="s-animated-loader"></div>
                        </div>
                        <div class="s-slide-panel-content">
                            <sw-form data-object="swCampaign.campaignObject">
                                <sw-property-display
                                     data-property="campaignName"
                                     data-editing="swCampaign.editing"
                                     data-editable="true">
                                </sw-property-display>
                                <sw-property-display
                                    data-property="campaignDescription"
                                    data-editing="swCampaign.editing"
                                    data-editable="true">
                                </sw-property-display>

                                <sw-property-display
                                        data-property="defaultFromName"
                                        data-editing="swCampaign.editing"
                                        data-editable="true">
                                </sw-property-display>

                                <sw-property-display
                                        data-property="defaultFromEmail"
                                        data-editing="swCampaign.editing"
                                        data-editable="true">
                                </sw-property-display>

                                <sw-property-display
                                        data-property="defaultReplyTo"
                                        data-editing="swCampaign.editing"
                                        data-editable="true">
                                </sw-property-display>

                            </sw-form>
                        </div>
                    </sw-modal-content>
                </sw-modal-launcher>

                <sw-modal-launcher
                    data-modal-name="system"
                    data-title="System Activity"
                    data-modal-size="md">
                    <sw-modal-button>
                        <button class="btn btn-default s-slide-btn">System</button>
                    </sw-modal-button>
                    <sw-modal-content>
                        <sw-timeline data-object="Account" data-id="40282899557d58900155980e1a180333"></sw-timeline>
                    </sw-modal-content>
                </sw-modal-launcher>
            </div>
        </div>
    </nav>
</div>

<div class="row s-split-wrapper">

    <div class="col-xs-2 s-slip-nav">
        <sw-tab-nav data-for="campaign-tabs"></sw-tab-nav>
    </div>

    <div class="col-xs-10 s-slip-page">
        <sw-tab-group data-show-tabs="false" data-name="campaign-tabs">
            <sw-tab-content data-name="Dashboard" data-id="dashboard" data-icon="fa-dashboard">
            <!--- Dashboard content area --->
                <div class="row row s-info-box-wrapper">
                    <div class="row-height">
                        <div class="col-md-5 col-sm-height col-sm-top">
                            <sw-upcoming-activity data-activity-count="swCampaign.activityCount" data-campaign-id="{{swCampaign.id}}"></sw-upcoming-activity>
                        </div>
                        <div class="col-md-7 col-sm-height">
                            <div class="panel info-box panel-white inside inside-full-height">

                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-9">
                                            <div class="s-content-body">
                                                <h5 class="s-content-title" style="display:inline-block">
                                                    Create Activity:
                                                </h5> Add a new activity to the current campaign.
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <sw-modal-launcher
                                                    data-modal-name="activity"
                                                    data-title="Create Activity"
                                                    data-modal-size="lg"
                                                    >
                                                <sw-modal-button>
                                                    <button class="btn btn-primary s-slide-btn" style="border-radius: 2px;margin-left: 5px;" type="button" >Create Activity</button>
                                                </sw-modal-button>
                                                <sw-modal-header>
                                                    <button class="btn btn-white pull-right" data-ng-click="swCampaign.saveCampaignActivity()">Save</button>
                                                </sw-modal-header>
                                                <sw-modal-content>
                                                    <sw-campaign-wizard data-campaign="swCampaign.campaignObject"></sw-campaign-wizard>
                                                </sw-modal-content>
                                            </sw-modal-launcher>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <sw-campaign-stats></sw-campaign-stats>

                <content class="s-body-box">
                    <sw-tab-group>
                        <sw-tab-content data-name="Sent History">
                            <sw-listing-display
                                    data-collection="'CampaignActivity'"
                                    data-record-detail-action="entity.detailCampaign"
                                    data-record-edit-action="entity.editCampaign"
                                    data-is-angular-route="false"
                                    data-expandable="false">
                                <sw-listing-filter data-property-identifier="campaignActivityStatus.typeName" data-comparison-value="Sent"></sw-listing-filter>
                                <sw-listing-column data-property-identifier="emailSendDateTime" ></sw-listing-column>
                                <sw-listing-column data-property-identifier="emailSubject" ></sw-listing-column>
                                <sw-listing-column data-property-identifier="campaignActivityName" ></sw-listing-column>
                            </sw-listing-display>
                        </sw-tab-content>
                    </sw-tab-group>
                </content>
            </sw-tab-content>
            <sw-tab-content data-name="Activities" data-id="activities" data-icon="fa-line-chart">
                <h4 class="s-title">Activities</h4>
                <content class="s-body-box">
                    <div class="tab-content">
                        <!-- Lists Tab -->
                        <sw-listing-display
                                data-collection="'CampaignActivity'"
                                data-record-detail-action="entity.detailCampaignActivity"
                                data-expandable="false"
                                is-angular-route="false">
                                <sw-listing-column data-property-identifier="campaignActivityStatus.typeName" ></sw-listing-column>
                                <sw-listing-column data-property-identifier="emailSubject" ></sw-listing-column>
                                <sw-listing-column data-property-identifier="campaignActivityName" ></sw-listing-column>
                        </sw-listing-display>
                        <!-- ///Lists Tab -->
                    </div>
                </content>
            </sw-tab-content>
            <sw-tab-content data-name="Lists" data-id="lists" data-icon="fa-list">
                <span class="h4 s-title">Lists</span> <sw-modal-launcher
                        data-modal-name="activity"
                        data-title="New List"
                        data-modal-size="lg"
                        >
                    <sw-modal-button>
                        <button class="btn btn-primary s-slide-btn pull-right" style="border-radius: 2px;margin-left: 5px;" type="button" >Create List</button>
                    </sw-modal-button>
                    <sw-modal-header>
                        <button class="btn btn-white pull-right" data-ng-click="swCampaign.saveCampaignList()">Save</button>
                    </sw-modal-header>
                    <sw-modal-content>
                        <sw-create-campaign-list></sw-create-campaign-list>
                    </sw-modal-content>
                </sw-modal-launcher>

                <content class="s-body-box">
                    <div class="tab-content">
                        <!-- Lists Tab -->
                        <sw-listing-display
                                data-collection="'CampaignList'"
                                data-record-detail-action="entity.detailCampaignList"
                                is-angular-route="false">
                            <!--<sw-listing-column data-property-identifier="campaignListDescription" ></sw-listing-column>-->
                            <sw-listing-column data-property-identifier="global" ></sw-listing-column>
                            <sw-listing-column data-property-identifier="campaignListName" ></sw-listing-column>
                        </sw-listing-display>
                        <!-- ///Lists Tab -->
                    </div>
                </content>
           </sw-tab-content>
        </sw-tab-group>
    </div>
</div>



