<div class="row s-body-nav">
    <nav class="navbar navbar-default s-vcenter" role="navigation">
        <div class="col-md-6 s-header-info">

            <h1 class="actionbar-title">
                Activity
            </h1>
            <ul class="list-unstyled list-inline">
                <li><a href="">Thank You Cleveland </a></li>
                <li>
                    <sw-select data-collection="'CampaignActivity'" data-value="campaignActivityName" data-selected="{{swCampaignActivity.id}}"></sw-select>

                </li>
            </ul>
        </div>
        <div class="col-md-6" data-ng-cloak>
            <div class="btn-toolbar">
                <!---<button data-slideout="j-comments" class="btn btn-default s-slide-btn"><i class="fa fa-comment" aria-hidden="true"></i> 2</button>--->
                <sw-modal-launcher
                        data-modal-name="info"
                        data-title="Activity Info"
                        data-modal-size="sm"
                        >
                    <sw-modal-button>
                        <button class="btn btn-default s-slide-btn"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    </sw-modal-button>
                    <sw-modal-header>
                        <button class="btn btn-success pull-right" data-ng-if="swCampaign.editing" data-ng-click="swCampaign.saveCampaign()" data-ng-disabled="swCampaign.saving">
                            Save
                        </button>
                        <button class="btn btn-primary pull-right" data-ng-if="!swCampaign.editing" data-ng-click="swCampaign.editing = true">
                            Edit
                        </button>
                    </sw-modal-header>
                    <sw-modal-content>
                        <div class="s-loader-wrapper" data-ng-show="swCampaign.saving">
                            <div class="s-animated-loader"></div>
                        </div>
                        <div class="s-slide-panel-content">
                            <sw-form data-object="swCampaign.campaignObject">
                                <sw-property-display
                                        data-property="campaignName"
                                        data-editing="swCampaign.editing"
                                        data-editable="true">
                                </sw-property-display>
                                <sw-property-display
                                        data-property="campaignDescription"
                                        data-editing="swCampaign.editing"
                                        data-editable="true">
                                </sw-property-display>
                            </sw-form>
                        </div>
                    </sw-modal-content>
                </sw-modal-launcher>

                <sw-modal-launcher
                        data-modal-name="system"
                        data-title="System Activity"
                        data-modal-size="md"
                        >
                    <sw-modal-button>
                        <button class="btn btn-default s-slide-btn">System</button>
                    </sw-modal-button>
                    <sw-modal-content>
                        <sw-timeline data-object="Account" data-id="40282899557d58900155980e1a180333"></sw-timeline>
                    </sw-modal-content>
                </sw-modal-launcher>
            </div>
        </div>
    </nav>
</div>

<div class="row s-split-wrapper">

    <div class="col-xs-2 s-slip-nav">
        <sw-campaign-activity-status></sw-campaign-activity-status>

        <sw-tab-nav data-for="campaign-tabs" data-style="wizard"></sw-tab-nav>
    </div>

    <div class="col-xs-10 s-slip-page">
        <sw-campaign-wizard data-campaign-id="{{swCampaign.id}}"></sw-campaign-wizard>
    </div>
</div>