<sw-form data-object="swCampaignWizard.newCampaignActivity" data-name="wizard" data-context="pending" >
    <sw-tab-group data-show-tabs="false" data-name="campaign-tabs">
        <sw-tab-content data-name="Dashboard" data-id="dashboard" data-icon="fa-dashboard">
            <!--- Dashboard content area --->
            <sw-create-follow-up></sw-create-follow-up>

            <sw-campaign-stats></sw-campaign-stats>

            <content class="s-body-box">
                <sw-tab-group>
                   <sw-tab-content data-name="Sent" > <!--data-count="2"-->
                        <sw-listing-display data-collection="'CampaignActivityAccount'">
                            <sw-listing-filter data-property-identifier="campaignActivity.campaignActivityID" data-comparison-value="{{swCampaignWizard.newCampaignActivity}}"></sw-listing-filter>
                            <sw-listing-column data-property-identifier="account.firstName" ></sw-listing-column>
                            <sw-listing-column data-property-identifier="account.lastName" ></sw-listing-column>
                        </sw-listing-display>
                    </sw-tab-content>
                    <sw-tab-content data-name="Clicks">
                        <sw-listing-display data-collection="'CampaignActivityTracker'">
                            <sw-listing-filter data-property-identifier="broadcastType" data-comparison-value="Click"></sw-listing-filter>
                            <sw-listing-filter data-property-identifier="campaignActivityAccount.campaignActivity.campaignActivityID" data-comparison-value="{{swCampaignWizard.newCampaignActivity}}"></sw-listing-filter>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.firstName" ></sw-listing-column>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.lastName" ></sw-listing-column>
                        </sw-listing-display>
                    </sw-tab-content>
                    <sw-tab-content data-name="Bounces">
                        <sw-listing-display data-collection="'CampaignActivityTracker'">
                            <sw-listing-filter data-property-identifier="broadcastType" data-comparison-value="Bounce"></sw-listing-filter>
                            <sw-listing-filter data-property-identifier="campaignActivityAccount.campaignActivity.campaignActivityID" data-comparison-value="{{swCampaignWizard.newCampaignActivity}}"></sw-listing-filter>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.firstName" ></sw-listing-column>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.lastName" ></sw-listing-column>
                        </sw-listing-display>
                    </sw-tab-content>
                    <sw-tab-content data-name="Opens">
                        <sw-listing-display data-collection="'CampaignActivityTracker'">
                            <sw-listing-filter data-property-identifier="broadcastType" data-comparison-value="Open"></sw-listing-filter>
                            <sw-listing-filter data-property-identifier="campaignActivityAccount.campaignActivity.campaignActivityID" data-comparison-value="{{swCampaignWizard.newCampaignActivity}}"></sw-listing-filter>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.firstName" ></sw-listing-column>
                            <sw-listing-column data-property-identifier="campaignActivityAccount.account.lastName" ></sw-listing-column>
                        </sw-listing-display>
                    </sw-tab-content>
                    <sw-tab-content data-name="Transactions">

                    </sw-tab-content>
                    <sw-tab-content data-name="Sent History">

                </sw-tab-group>
            </content>
        </sw-tab-content>
        <sw-tab-content data-name="Messaging" data-id="messaging">
            <div class="s-header">
                <h4 class="s-title">Messaging</h4>
            </div>
            <sw-campaign-wizard-step data-template="messaging"></sw-campaign-wizard-step>
        </sw-tab-content>
        <sw-tab-content data-name="E-Mail Setup" data-id="email">
            <div class="s-header">
                <h4 class="s-title">E-Mail Setup</h4>
            </div>
            <sw-campaign-wizard-step data-template="email"></sw-campaign-wizard-step>
        </sw-tab-content>
        <sw-tab-content data-name="Lists" data-id="lists">
            <div class="s-header">
                <h4 class="s-title">Lists</h4>
            </div>
            <sw-campaign-wizard-step data-template="list"></sw-campaign-wizard-step>
        </sw-tab-content>
        <sw-tab-content data-name="Schedule & Send Ongoing" data-id="schedule">
            <div class="s-header">
                <h4 class="s-title">Schedule & Send Ongoing</h4>
            </div>
            <sw-campaign-wizard-step data-template="schedule"></sw-campaign-wizard-step>
        </sw-tab-content>
    </sw-tab-group>
</sw-form>