<div class="row">
    <div class="col-md-12">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="row-height">
                        <div class="col-md-7 col-height col-middle">
                            <div class="s-content-body">
                                <h5 class="s-content-title" style="display:inline-block">
                                    Create Follow Up:
                                </h5> You can create new activities based on your current email list or a new emails list.
                            </div>
                        </div>
                        <div class="col-md-5 col-height col-middle">
                            <div class="col-md-6">
                                <select class="form-control input-sm">
                                    <option value="" selected>Same list follow up</option>
                                    <option value="">Follow up to openers (103)</option>
                                    <option value="">Non-bounces follow up</option>
                                    <option value="">Custom follow up</option>
                                </select>
                            </div>
                            <div class="col-md-5">

                                <sw-modal-launcher
                                        data-modal-name="followUpActivity"
                                        data-title="Create Follow Up Activity"
                                        data-modal-size="lg"
                                        >
                                    <sw-modal-button>
                                        <button class="btn btn-primary s-slide-btn" style="border-radius: 2px;margin-left: 5px;" type="button" >Create Follow Up Activity</button>
                                    </sw-modal-button>
                                    <sw-modal-header>
                                        <button class="btn btn-white pull-right" data-ng-click="">Save</button>
                                    </sw-modal-header>
                                    <sw-modal-content>
                                        <!--<sw-campaign-wizard data-campaign="swCampaignActivity.campaignID"></sw-campaign-wizard>-->
                                    </sw-modal-content>
                                </sw-modal-launcher>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>